<h1>My Open Appointments</h1>
<%= render "shared/appointment_list", appointments: @open_appointments %>
<h1>My Closed Appointments</h1>
<%= render "shared/appointment_list", appointments: @closed_appointments %>