<h1>Doctors</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.name %></td>
      <td><%= doctor.phone %></td>
      <td><%= doctor.category.name if doctor.category %></td>
    </tr>
  <% end %>
</table>
